# Normalize line endings of all files that Git considers to be text
* text eol=lf
#except images and sounds
*.png -text
*.gif -text
*.jpg -text
*.icns -text
*.wav -text
*.au -text
*.ico -text
# binary build/runtime artifacts must never be line-end normalized
*.dll -text
*.lib -text
*.exe -text
*.bmp -text
*.pdb -text
*.obj -text
# and weird stuff in lib-src
*.ttl text=auto
*.aps text=auto
*.trig text=auto
